{% extends "layout/base_content.html" %}

{% block title%}
后台管理系统
{% end %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/admin/bijia">比价管理</a></li>
    <li class="active">比价管理</li>
</ol>

{% if res_msg  %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> {{ res_msg }}
    </div>
{% end %}
<div>
<form id="priceForm" action="/admin/bijia" method="post" class="form-horizontal">
    {% raw xsrf_form_html() %}
    <br>
    <div class="form-group">
        <div class="col-lg-3">
            <input type="text" class="form-control" name="starting_place" placeholder="出发地" maxlength="64"/>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="destination" placeholder="目的地" maxlength="64"/>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="weight" placeholder="重量" maxlength="64"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3">
            <input type="text" class="form-control" name="max_length" placeholder="长度" maxlength="32"/>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="max_width" placeholder="宽度" maxlength="32"/>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control" name="max_height" placeholder="高度" maxlength="32"/>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-success  btn-block" type="submit">
                <b>搜索</b>
            </button>
        </div>
    </div>
</form>

<table class="table table-striped table-hover">
    <tr class="success">
        <th> #</th>
        <th>路线名称</th>
        <th>公司代码</th>
        <th>出发地</th>
        <th>目的地</th>
        <th>挂号费(RMB)</th>
        <th>运费(RMB)</th>
        <th>预计时间</th>
        <th>到货率(%)</th>
        <th>总价(RMB)</th>
    </tr>
    {% if prices %}
        {% for price in prices %}
            <tr>
                <td>{{ prices.index(price) + 1 }}</td>
                <td>{{ price.get("line_name","") }}</td>
                <td>{{ price.get("company_code","") }}</td>
                <td>{{ price.get("starting_place","") }}</td>
                <td>{{ price.get("destination","") }}</td>
                <td>{{ price.get("register_price","") }}</td>
                <td>{{ price.get("freight","") }}</td>
                <td>{{ price.get("arrival_time","") }}</td>
                <td>{{ price.get("arrival_rate","") }}</td>
                <td>{{ price.get("total_price","") }}</td>
            </tr>
        {% end %}

    {% else %}
        <tr>
            <td colspan="5">抱歉，没有比价数据...</td>
        </tr>
    {% end %}

</table>
{# 分页 #}
    <nav>
        <ul class="pagination">
            <li><a> 共 {{ total_count }}条记录 | 共 {{ int((total_count - 1) / num  + 1) }} 页 | 当前第 {{ page }} 页 </a></li>
            {% if (page - 1) > 0 %}
                <li>
                    <a href="/admin/bijia?page={{ page - 1 }}&num={{ num }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% end %}
            {% if (page - 2) > 0 %}
                <li><a href="/admin/bijia?page={{ page - 2 }}&num={{ num }}">{{ page - 2 }}</a></li>
            {% end %}
            {% if (page - 1) > 0 %}
                <li><a href="/admin/bijia?page={{ page - 1 }}&num={{ num }}">{{ page - 1 }}</a></li>
            {% end %}
                <li><a href="/admin/bijia?page={{ page }}&num={{ num }}">{{ page }}</a></li>
            {% if (page + 1) <= int((total_count - 1) / num  + 1) %}
                <li><a href="/admin/bijia?page={{ page + 1 }}&num={{ num }}">{{ page + 1 }}</a></li>
            {% end %}
            {% if (page + 2) <= int((total_count - 1) / num  + 1)   %}
                <li><a href="/admin/bijia?page={{ page + 2 }}&num={{ num }}">{{ page + 2 }}</a></li>
            {% end %}
            {% if (page + 1) <= int((total_count - 1) / num  + 1) %}
                <li>
                    <a href="/admin/bijia?page={{ page + 1 }}&num={{ num }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% end %}
        </ul>
    </nav>
</div>
{% end %}
