{% extends "layout/base_content.html" %}

{% block title%}
后台管理系统
{% end %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/admin/price">价格管理</a></li>
    <li class="active">价格列表</li>
</ol>
<a class="btn btn-link" href="/admin/price/add" role="button">新增</a>

{% if res_msg  %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> {{ res_msg }}
    </div>
{% end %}
<div>
<table class="table table-striped table-hover">
    <tr class="success">
        <th> #</th>
        <th>路线代码</th>
        <th>路线名称</th>
        <th>公司代码</th>
        <th>出发地</th>
        <th>目的地</th>
        <th>挂号费</th>
        <th>运费</th>
        <th>预计时间</th>
        <th>是否带电</th>
        <th>是否液体</th>
        <th>到货率</th>
        <th>最大重量</th>
        <th>操作</th>
    </tr>
    {% if prices %}
        {% for price in prices %}
            <tr>
                <td>{{ prices.index(price) + 1 }}</td>
                <td><a href="/admin/price/update?line_code={{ price.get('line_code','') }}">{{ price.get("line_code","") }}</a></td>
                <td>{{ price.get("line_name","") }}</td>
                <td>{{ price.get("company_code","") }}</td>
                <td>{{ price.get("starting_place","") }}</td>
                <td>{{ price.get("destination","") }}</td>
                <td>$ {{ price.get("register_price","") }}</td>
                <td>$ {{ price.get("freight","") }}</td>
                <td>{{ price.get("arrival_time","") }}</td>
                <td>{{ price.get("is_electric","") }}</td>
                <td>{{ price.get("is_liquid","") }}</td>
                <td>{{ price.get("arrival_rate","") }}</td>
                <td>{{ price.get("max_weight","") }} kg</td>
                <td><a href="/admin/price/delete?line_code={{ price.get('line_code','') }}">删除</a></td>
            </tr>
        {% end %}

    {% else %}
        <tr>
            <td colspan="5">抱歉，没有价格数据...</td>
        </tr>
    {% end %}

</table>
{# 分页 #}
    <nav>
        <ul class="pagination">
            <li><a> 共 {{ total_count }}条记录 | 共 {{ int((total_count - 1) / num  + 1) }} 页 | 当前第 {{ page }} 页 </a></li>
            {% if (page - 1) > 0 %}
                <li>
                    <a href="/admin/price?page={{ page - 1 }}&num={{ num }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% end %}
            {% if (page - 2) > 0 %}
                <li><a href="/admin/price?page={{ page - 2 }}&num={{ num }}">{{ page - 2 }}</a></li>
            {% end %}
            {% if (page - 1) > 0 %}
                <li><a href="/admin/price?page={{ page - 1 }}&num={{ num }}">{{ page - 1 }}</a></li>
            {% end %}
                <li><a href="/admin/price?page={{ page }}&num={{ num }}">{{ page }}</a></li>
            {% if (page + 1) <= int((total_count - 1) / num  + 1) %}
                <li><a href="/admin/user?page={{ page + 1 }}&num={{ num }}">{{ page + 1 }}</a></li>
            {% end %}
            {% if (page + 2) <= int((total_count - 1) / num  + 1)   %}
                <li><a href="/admin/price?page={{ page + 2 }}&num={{ num }}">{{ page + 2 }}</a></li>
            {% end %}
            {% if (page + 1) <= int((total_count - 1) / num  + 1) %}
                <li>
                    <a href="/admin/price?page={{ page + 1 }}&num={{ num }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% end %}
        </ul>
    </nav>
</div>
{% end %}
