{% extends "layout/base_content.html" %}

{% block title%}
后台管理系统
{% end %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ reverse_url('admin_role') }}">角色管理</a></li>
    <li class="active">新增角色</li>
</ol>
<br>
{% if res_msg  %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ res_msg }}
        </div>
{% end %}

<form id="roleAddForm" action="{{ form_action }}" method="post" class="form-horizontal">
    {% raw xsrf_form_html() %}
    <div class="form-group">
        <label class="col-lg-2 control-label">角色id </label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="role_id" placeholder="角色id" minlength="2" maxlength="32" value="{{role.get('role_id')}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">角色名称 </label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="role_name" placeholder="角色名称" minlength="2" maxlength="32" value="{{role.get('role_name')}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label"></label>
        <div class="col-lg-5">
            <button class="btn btn-success  btn-block" type="submit">
                <b>保存</b>
            </button>
        </div>
    </div>
</form>
{% end %}
