<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="liuxin">
    <link rel="icon" href="../../favicon.ico">
    <title>smartSearch | {% block title %} 智能搜索 {% end %}</title>
    <link href="{{ static_url('common/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('common/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('home/css/base.css') }}" rel="stylesheet">
    <link href="{{ static_url('common/plugins/bootstrap-validator/bootstrapValidator.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('common/plugins/bootstrap-fileinput/css/fileinput.min.css') }}" rel="stylesheet">
    {% block head-css %}
    {% end %}
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?7c3e42aeca288516399a887dce944299";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<!--content-->
<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"><a class="navbar-brand" href="#">牛呗</a></li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#about">一个专为程序员打造的网站</a></li>
                <li><a href="#about">6月10日 周五 北京 雷阵雨 32℃~20℃</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">欢迎 ****</a></li>
                <li><a href="#about">登陆</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


{% block content %}
{% end %}
<!--js-->
<script src="{{ static_url('common/js/jquery.min.js') }}"></script>
<script src="{{ static_url('common/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('common/plugins/bootstrap-validator/bootstrapValidator.js') }}"></script>
{% block bottom-js %}
{% end %}
</body>
</html>